#finish {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 100;
}

.finish-box {
	width: 340px;
	height: 200px;
	background-color: #eeeeee;
	margin: 40px auto 0 auto;
	padding-top: 10px;
	color: #000;
	border-radius: 10px;
}

.finish-box input {
	padding-top: 0px;
}

/* ============================================ BODY & NAVIGATION ============================================ */

body {
	background-color: #000;
	background-image: url("../img/bg.jpg");
	color: #fff;
	font-family: 'Oswald', sans-serif;
}

#logo {
	width: 400px;
	height: 88px;
}

.navbar {
	height: 90px;
	padding-top: 10px;
	border: none;
	background-color: transparent;
}

.navbar-nav {
	padding-top: 20px;
}

.nav a {
	color: #fff !important;
	margin-right: 5px;
	font-size: 20px;
}

.nav a:hover {
	color: #159cd5 !important;
}

.nav {
	border-bottom: 1px solid #0a6694 !important;
}

.buttons {
	float: right;
	margin-right: 30px;
}

.buttons button {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: none;
	outline: none;
	margin-right: 10px;
	border: 2px solid #0a6694;
	background-image: url("../img/sprite.jpg");
	overflow: hidden;
	-webkit-box-shadow: 10px 13px 21px -2px rgba(0,0,0,0.82);
	-moz-box-shadow: 10px 13px 21px -2px rgba(0,0,0,0.82);
	box-shadow: 10px 13px 21px -2px rgba(0,0,0,0.82);
}

.buttons button:hover {
	border: 2px solid #159cd5;
	background-position: 0 -60px;

}

i {
	padding: 0 !important;
	font-size: 36px !important;
	color: #fff;
}

.navbar-toggle {
	border-color: #159cd5 !important;
	background: none !important;
}

.icon-bar {
	background-color: #159cd5 !important;
}

.navbar-collapse {
	border-top: transparent !important;
	box-shadow: none !important;
}

/* ============================================ SCROLLBAR ============================================ */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(left, #159cd5, #159cd5);
	border: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}


body {
	background-color: #000;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: #fff;
	font-family: 'Oswald', sans-serif;
}

/* ============================================ LANDING PAGE ============================================ */


#slideshow {
	width: 1100px;
	height: 430px;
	margin: 11% auto 0 auto;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel .item { 
    height: 100%;
    width:100%; 
}

.landing-border {
	margin-top: 50px;
}

.border {
	width: 100%;
	height: 60px;
	background-color: #159cd5;
	margin-bottom: 30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* ============================================ ABOUT PAGE ============================================ */

.aboutBorder {
	width: 95%;
	height: 40px;
	background-color: #159cd5;
	margin: 100px auto 0 auto;
}

.aboutBorder h3 {
	padding-top: 6px;
	margin-left: 30px;
}

.picture {
	padding-top: 120px;
}

.about {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #666666;
	font-family: sans-serif;
	padding: 40px 0;
	line-height: 1.5;
	font-size: 12px;
}

.trainer h2,
.why h2 {
	color: #159cd5;
	padding-bottom: 20px;
	font-family: 'Oswald', sans-serif;
}

.trainer {
	width: 100%;
	height: 400px;
}

#sig {
	float: right;
	margin: 20px 30px 40px 0;
}

.why ul {
	padding: 0;
	list-style-type: circle;
	margin: 20px 0 40px 0;
}

.why li {
	margin-top: 10px;
}

.blue {
	color: #159cd5;
}


/* ============================================ SERVICES PAGE ============================================ */

.services {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #666666;
	font-family: sans-serif;
	padding: 40px 0;
	line-height: 1.5;
	font-size: 12px;
}

.services h1,
.services h2,
.services h3,
.services h4 {
	font-family: 'Oswald', sans-serif !important;
	color: #159cd5;
	padding-bottom: 20px;
	text-align: center;
}

.services h1 {
	margin-bottom: 80px;
}

.services h2 {
	margin-top: 40px;
}

.services li {
	margin-top: 10px;
}

.row {
	width: 96%;
	margin: 0 auto;
}

.pt {
	font-size: 18px;
}

.store {
	margin-top: 40px;
}

.table {
	border: 1px solid #159cd5;
	width: 100%;
	height: 200px;
	margin: 30px auto 10px auto;
}

.services td {
	padding-top: 20px !important;
}

.services .table thead > tr > th,
.services .table tbody > tr > th,
.services .table tfoot > tr > th,
.services .table thead > tr > td,
.services .table tbody > tr > td,
.services .table tfoot > tr > td { 
	border: 1px solid #159cd5;
}

/* ============================================ PROGRAMS PAGE ============================================ */

.videos {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #159cd5;
	padding: 40px 40px 60px 40px;
	line-height: 1.5;
	font-size: 12px;
}

.videos h2 {
	color: #020202;
}

.video {
	margin-top: 40px;
}

.info p {
	font-size: 18px;
	color: #666666;
}

hr {
	border-bottom: 2px solid #0a6694;
	width: 90%;
	margin:50px auto;
}

/* ============================================ TIMER PAGE ============================================ */

.timer {
	width: 95%;
	height: 1050px;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #666666;
	font-family: sans-serif;
	padding: 40px 0;
	line-height: 1.5;
	font-size: 12px;
}

.timer h1 {
	font-family: 'Oswald', sans-serif !important;
	color: #159cd5;
	padding-bottom: 20px;
	text-align: center;
}

/* ============================================ TESTIMONIALS PAGE ============================================ */

.testimonial {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #666666;
	font-family: sans-serif;
	padding: 40px 0;
	line-height: 1.5;
	font-size: 12px;
}

.testimonial h1,
.testimonial h2,
.testimonial h3,
.testimonial h4 {
	font-family: 'Oswald', sans-serif !important;
	color: #159cd5;
	padding-bottom: 20px;
	text-align: center;
}

.testimonial blockquote {
	font-size: 14px;
	border: none;
}

.testimonial footer {
	background-color: transparent;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
}

.testimony {
	border: 2px solid #159cd5;
	margin: 20px auto;
	padding-top: 10px;
	background-color: rgba(21,156,213, 0.2);
}

/* ============================================ CONTACT PAGE ============================================ */

.contact-main {
	width: 95%;
	height: 740px;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #666666;
	padding-top: 40px;
	line-height: 1.5;
	font-size: 12px;
}

.contact h1 {
	color: #159cd5;
}

.forms,
.message {
	border-radius: 0;
	background: transparent;
	color: #159cd5;
}

.forms {
	width: 410px !important;
	height: 60px;
	margin-bottom: 40px;
	border-color: #159cd5;
}

#senderName {
	margin-right: 20px;
}

#senderEmail {
	margin-left: 20px;
}

.message {
	width: 862px !important;
	margin: 0 auto 40px auto;
	resize: none;
	padding: 20px;
	border-color: #159cd5;
}

#sendEmail {
	float: right;
	background-color: #159cd5;
	color: #fff;
	width: 280px;
	height: 75px;
	font-size: 26px;
	outline: none;
}

#sendEmail:hover {
	background-color: #0a6694;
}

form {
	margin: 0 10%;
}

.contact-hr {
	border-bottom: 1px solid #159cd5;
	width: 100px;
	margin: 30px auto 50px auto;
}

/* ============================================ DISCLAIMER PAGE ============================================ */

.disclaimer {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #666666;
	font-family: sans-serif;
	padding: 40px 0;
	line-height: 1.5;
	font-size: 12px;
}

.disclaimer h1 {
	font-family: 'Oswald', sans-serif !important;
	color: #159cd5;
	text-align: center;
}

.disclaimer hr {
	border-bottom: 1px solid #159cd5;
	width: 100px;
	margin: 30px auto 50px auto;
}

.disclaimer p {
	font-size: 18px;
	text-align: left;
}

.back {
	background-color: #159cd5;
	color: #fff !important;
	width: 280px;
	height: 75px;
	font-size: 26px;
	outline: none;
	padding-top: 15px;
	margin-top: 40px;
}

.back:hover {
	background-color: #0a6694;
}

/* ============================================ THANK YOU PAGE ============================================ */

.thankyou {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	background-image: url("../img/concrete.png");
	background-repeat: repeat;
	color: #666666;
	font-family: sans-serif;
	padding: 40px 0;
	line-height: 1.5;
	font-size: 12px;
}

.thankyou h1 {
	font-family: 'Oswald', sans-serif !important;
	color: #159cd5;
	text-align: center;
}

.thankyou hr {
	border-bottom: 1px solid #159cd5;
	width: 100px;
	margin: 30px auto 50px auto;
}

.thankyou p {
	font-size: 18px;
}

.back {
	background-color: #159cd5;
	color: #fff !important;
	width: 280px;
	height: 75px;
	font-size: 26px;
	outline: none;
	padding-top: 15px;
	margin-top: 40px;
}

.back:hover {
	background-color: #0a6694;
}

/* ============================================ FOOTER ============================================ */

footer h2 {
	margin-top: 15px;
}

footer h3 {
	color: #159cd5;
	margin-top: 0;
}

footer ul {
	list-style: none;
}

footer {
	background-color: #020202;
}

footer a {
	color: #fff;
	text-decoration: none !important;
	outline: none !important;
}

footer a:hover {
	color: #159cd5;
}

.copyright {
	width: auto;
	height: 30px;
	font-family: sans-serif;
	font-size: 14px;
	color: #c0c0c0;
	margin-top: 10px;
	padding-top: 5px;
}

.copyright a {
	color: #0a6694;
}

.break {
	color: #159cd5;
	font-size: 16px;
}



@media only screen and (max-width: 991px) {

	body {
		padding-top: 100px;
	}


	.buttons {
		clear: both;
		margin: 30px auto 40px auto;
	}

	#slideshow {
		width: 100%;
		height: auto;
		margin-top: 10px;
	}

	.border h2 {
		font-size: 22px;
		text-align: center;
	}

	.copyright {
		font-size: 12px;
	}

	.footerLinks {
		visibility: none;
		display: none;
	}

	.footerLogo {
		margin-bottom: 20px;
	}

	.navbar, .navbar-default, .collapse, .navbar-collapse {
		background-color: #242424;
		z-index: 1;
	}

	.carousel-control {
		margin-top: 60px;
	}

	#logo {
		visibility: hidden;
		display: none;
	}

	.picture {
		visibility: hidden;
		display: none;
	}

	.aboutBorder,
	.about,
	.services,
	.programs,
	.videos,
	.timer,
	.testimonial,
	.contact-main,
	.thankyou,
	.disclaimer {
		width: 100%;
	}

	iframe {
		width: 100%;
		height: auto;
	}

	.timer {
		height: 300px;
	}

	#senderName {
		margin-right: 0;
	}

	#senderEmail {
		margin-left: 0;
	}

	.form-control {
		width: 275px !important;
	}

	.contact-main {
		height: auto;
		padding-bottom: 100px !important;
	}

	.forms {
		margin-bottom: 0;
	}

	.aboutBorder h3 {
		margin-left: 20px;
	}

	.longH3-mobile {
		position: absolute;
		margin-left: 20px;
		margin-top: -1px;
	}

}