/////////////////////////
//                     //
//      - VARS -       //
//                     //
/////////////////////////

$black: #2A2A2A;
$white: #FFFFFF;
$blue: #159cd5;
$grey: #3d3d3d;

.blue { color: $blue; }